<h2>All Jobs for <%= @company.name %></h2>
<h3>CONTACTS <%= link_to "< Add a New Contact >", new_company_contact_path(@company, @contact)%></h3>

<section>
<% @contact.each do |person| %>
<h3><%= person.first_name%> <%= person.last_name %>: </h3>
<p><%= person.email%>, <%=  person.last_name %></p>
<% end %>
</section>

<h3>JOBS <%= link_to "< Add a New Job >", new_company_job_path(@company, @job)%></h3>
<section>
<% @company.jobs.each do |job| %>
  <%= link_to job.title, company_jobs_path(@company, @jobs) %><br/>
<% end %>
</section>
