<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1>Job Tracker</h1>
  <nav>
    <h2><%= link_to "Companies  |", companies_path %>
    <%= link_to "Categories  " %>
    <%= link_to "|  Locations" %></h2>
  </nav>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

<%= yield %>

  <footer>
      <p style= "text-align: center"> Lauren Billington</p>
  </footer>
</body>
</html>
